<?xml version="1.0" encoding="utf-8"?>
<Media Key="11ec7172-d58b-449d-ab62-43a5c759f83a" Alias="aaron.svg" Level="2">
  <Info>
    <Parent Key="9456ebf2-44d8-40bc-bfc7-d7d0076433f4">Team Members</Parent>
    <Path>/TeamMembers/aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:06:16</CreateDate>
    <NodeName Default="aaron.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qdge322q/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>