<?xml version="1.0" encoding="utf-8"?>
<Media Key="463bbfa1-9e25-4d9f-b24a-2e185ea6a6d7" Alias="AJ.svg" Level="2">
  <Info>
    <Parent Key="9456ebf2-44d8-40bc-bfc7-d7d0076433f4">Team Members</Parent>
    <Path>/TeamMembers/AJsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:06:16</CreateDate>
    <NodeName Default="AJ.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kmbjtjb4/aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>