<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f81d89e-7b18-4434-8a3e-1bfd572b784e" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:32:20</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nrsdh1id/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>