<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ceb8d60-1546-40b9-9f70-a14f0baaefad" Alias="brandonkex.svg" Level="2">
  <Info>
    <Parent Key="9456ebf2-44d8-40bc-bfc7-d7d0076433f4">Team Members</Parent>
    <Path>/TeamMembers/brandonkexsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:06:17</CreateDate>
    <NodeName Default="brandonkex.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/siyet1s3/brandonkex.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>