<?xml version="1.0" encoding="utf-8"?>
<Media Key="b65c49b7-c37f-4677-ae17-7faefe0c18a3" Alias="Brandon.svg" Level="2">
  <Info>
    <Parent Key="9456ebf2-44d8-40bc-bfc7-d7d0076433f4">Team Members</Parent>
    <Path>/TeamMembers/Brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:06:17</CreateDate>
    <NodeName Default="Brandon.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ix0p2vde/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>