<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bed510b-3d25-466b-9cd7-a5c7175e1d00" Alias="Hero-home.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroHomesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T14:41:49</CreateDate>
    <NodeName Default="Hero-home.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5hwe54j4/hero-home.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>