<?xml version="1.0" encoding="utf-8"?>
<Media Key="99ce4364-63e2-4654-b14b-a0f6a0e1aecd" Alias="image-22-min 1.png" Level="2">
  <Info>
    <Parent Key="b550ed83-438b-4503-9713-5236f2430995">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image22Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T13:44:49</CreateDate>
    <NodeName Default="image-22-min 1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3oejql2l/image-22-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>