<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e858f24-6ab9-460e-8795-e631ac90a885" Alias="image-24-min 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image24Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T14:36:52</CreateDate>
    <NodeName Default="image-24-min 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/vncnhkgq/image-24-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>