<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0582949-d252-4ae3-bd6d-f282a4efd0bd" Alias="image-23-min 1.png" Level="2">
  <Info>
    <Parent Key="b550ed83-438b-4503-9713-5236f2430995">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image23Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T13:44:50</CreateDate>
    <NodeName Default="image-23-min 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/y1rb2fr1/image-23-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>