<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd49c29b-5dcf-405d-aadd-fb9548b86a23" Alias="image-13-min 1.png" Level="2">
  <Info>
    <Parent Key="b550ed83-438b-4503-9713-5236f2430995">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image13Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T13:44:49</CreateDate>
    <NodeName Default="image-13-min 1.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cqea4c3g/image-13-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>