<?xml version="1.0" encoding="utf-8"?>
<Media Key="11d48ea9-6b65-4832-93f7-3ef230498df2" Alias="image-21-min 1.png" Level="2">
  <Info>
    <Parent Key="b550ed83-438b-4503-9713-5236f2430995">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image21Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T13:44:49</CreateDate>
    <NodeName Default="image-21-min 1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ezcjfjym/image-21-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>