<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eaa1d23-e4a6-417d-a186-9962e971dafb" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="9456ebf2-44d8-40bc-bfc7-d7d0076433f4">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:06:17</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0gqarpf3/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>