<?xml version="1.0" encoding="utf-8"?>
<Media Key="96cc4e37-1733-4274-a80d-7988a0a54563" Alias="Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:30:43</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yxzh23bi/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>