<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec3cd51e-fbfb-478b-986e-81bd91f48e42" Alias="miranda.svg" Level="2">
  <Info>
    <Parent Key="9456ebf2-44d8-40bc-bfc7-d7d0076433f4">Team Members</Parent>
    <Path>/TeamMembers/mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:06:17</CreateDate>
    <NodeName Default="miranda.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ruj2dxa/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>