<?xml version="1.0" encoding="utf-8"?>
<Media Key="b550ed83-438b-4503-9713-5236f2430995" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T13:40:51</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>