<?xml version="1.0" encoding="utf-8"?>
<Media Key="9456ebf2-44d8-40bc-bfc7-d7d0076433f4" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T16:03:06</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>