<?xml version="1.0" encoding="utf-8"?>
<Media Key="053ed3e0-9471-4cc0-ab4b-1105c9cd6717" Alias="tinafox.svg" Level="2">
  <Info>
    <Parent Key="9456ebf2-44d8-40bc-bfc7-d7d0076433f4">Team Members</Parent>
    <Path>/TeamMembers/tinafoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T16:06:16</CreateDate>
    <NodeName Default="tinafox.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cjxjzz1k/tinafox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>