<?xml version="1.0" encoding="utf-8"?>
<Content Key="206e8fe4-2806-4aa9-93fa-27e0287c24ca" Alias="About" Level="2">
  <Info>
    <Parent Key="44be301a-402b-4d14-9f5a-5444e82769d5">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-24T16:12:40</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="602021f4-4630-43ad-b437-542f61e91a92">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9316218b-27dd-443e-bce4-815f43ffbea4",
      "key": "d06f3063-a579-4662-aac0-37f58b655f07",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ef558c67-621b-460c-93c4-f4b57d786766",
                "key": "a7449045-e678-4461-a03c-29206d748d3b",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3a3f51f4-7937-40f7-bdd6-1bf780e8796b",
                        "mediaKey": "b65c49b7-c37f-4677-ae17-7faefe0c18a3",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ef558c67-621b-460c-93c4-f4b57d786766",
                "key": "f6512bee-1920-4d60-9c35-630bf95cb78f",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c62ae3e9-21f5-4b70-80f2-4caa634501a9",
                        "mediaKey": "463bbfa1-9e25-4d9f-b24a-2e185ea6a6d7",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ef558c67-621b-460c-93c4-f4b57d786766",
                "key": "3d7b9711-e86e-45ac-9a34-c5f6f6ce70c6",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambrt"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "71fcfd67-de7e-41fb-a2c9-7ce14d0337b7",
                        "mediaKey": "11ec7172-d58b-449d-ab62-43a5c759f83a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ef558c67-621b-460c-93c4-f4b57d786766",
                "key": "c246b4a5-8fc9-44db-a381-b34750489db2",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "70353813-def2-4b86-b37e-3b63f6fc6b66",
                        "mediaKey": "053ed3e0-9471-4cc0-ab4b-1105c9cd6717",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ef558c67-621b-460c-93c4-f4b57d786766",
                "key": "b52945c7-6d76-47a0-a2df-7834dba20100",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0ee4904d-fada-427d-b0b6-f4c08f940da0",
                        "mediaKey": "0ceb8d60-1546-40b9-9f70-a14f0baaefad",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ef558c67-621b-460c-93c4-f4b57d786766",
                "key": "f2397353-e2f3-4a5c-807b-11c93f99e68d",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e9acec84-d0d3-476b-802e-67bfbdacf963",
                        "mediaKey": "ec3cd51e-fbfb-478b-986e-81bd91f48e42",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  }
                ]
              },
              {
                "contentTypeKey": "ef558c67-621b-460c-93c4-f4b57d786766",
                "key": "0d1dee92-2eed-4fa6-87e4-630cbdd3e34e",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "76bcbd36-0595-41d8-924c-0cddcfdce340",
                        "mediaKey": "5eaa1d23-e4a6-417d-a186-9962e971dafb",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a7449045-e678-4461-a03c-29206d748d3b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f6512bee-1920-4d60-9c35-630bf95cb78f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3d7b9711-e86e-45ac-9a34-c5f6f6ce70c6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c246b4a5-8fc9-44db-a381-b34750489db2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b52945c7-6d76-47a0-a2df-7834dba20100",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f2397353-e2f3-4a5c-807b-11c93f99e68d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0d1dee92-2eed-4fa6-87e4-630cbdd3e34e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a7449045-e678-4461-a03c-29206d748d3b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f6512bee-1920-4d60-9c35-630bf95cb78f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3d7b9711-e86e-45ac-9a34-c5f6f6ce70c6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c246b4a5-8fc9-44db-a381-b34750489db2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b52945c7-6d76-47a0-a2df-7834dba20100",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f2397353-e2f3-4a5c-807b-11c93f99e68d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0d1dee92-2eed-4fa6-87e4-630cbdd3e34e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d06f3063-a579-4662-aac0-37f58b655f07",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d06f3063-a579-4662-aac0-37f58b655f07",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>