<?xml version="1.0" encoding="utf-8"?>
<Content Key="06213551-9d4e-46b7-826c-09818e50a0ec" Alias="Assurence and Audits" Level="3">
  <Info>
    <Parent Key="6b90cc12-7347-45e5-b46d-810dd6444570">Services</Parent>
    <Path>/Home/Services/AssurenceAndAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-10T13:48:34</CreateDate>
    <NodeName Default="Assurence and Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="577f7a0d-0383-481f-919e-0ea955615805">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurence and Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4684e5b3-9a86-4e45-87ad-d378960b7692",
      "key": "37c62ddd-a605-4b3e-afd4-4b06787e51e0",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ef1b3d09-dc82-48e9-8f9e-d0363c92065b",
              "mediaKey": "1e858f24-6ab9-460e-8795-e631ac90a885",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "37c62ddd-a605-4b3e-afd4-4b06787e51e0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "37c62ddd-a605-4b3e-afd4-4b06787e51e0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "f5164d9a-b50b-4b8b-a8af-71d8c111981f",
    "mediaKey": "bd49c29b-5dcf-405d-aadd-fb9548b86a23",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>