<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d5d64ef-e567-45a8-8afd-6bdb0cc38863" Alias="Bonds and Commodities" Level="3">
  <Info>
    <Parent Key="6b90cc12-7347-45e5-b46d-810dd6444570">Services</Parent>
    <Path>/Home/Services/BondsAndCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-10T13:49:00</CreateDate>
    <NodeName Default="Bonds and Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="577f7a0d-0383-481f-919e-0ea955615805">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds and Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4684e5b3-9a86-4e45-87ad-d378960b7692",
      "key": "c4470896-53b0-4200-850e-0fd4c2be8605",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6e2f5414-c25f-42a4-af11-bf7f371d5670",
              "mediaKey": "1e858f24-6ab9-460e-8795-e631ac90a885",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c4470896-53b0-4200-850e-0fd4c2be8605",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c4470896-53b0-4200-850e-0fd4c2be8605",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "60254eb1-5776-48ce-910c-46f9f8f4ab6d",
    "mediaKey": "86480f80-1cb3-4f45-8bdf-748aa1ea49f4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>