<?xml version="1.0" encoding="utf-8"?>
<Content Key="f347aadc-ae11-4c68-bead-2b6fee5524d2" Alias="Contact" Level="2">
  <Info>
    <Parent Key="44be301a-402b-4d14-9f5a-5444e82769d5">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-22T16:54:48</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7c9804c3-f037-4dc1-858b-7a2fe8620dee">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>