<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b9a5384-3198-4b25-af06-9f19fcf10442" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="6b90cc12-7347-45e5-b46d-810dd6444570">Services</Parent>
    <Path>/Home/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-10T13:49:41</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="577f7a0d-0383-481f-919e-0ea955615805">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4684e5b3-9a86-4e45-87ad-d378960b7692",
      "key": "89c00daf-3164-449a-a35d-c2f803f8b9bf",
      "udi": null,
      "values": [
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "770c7cd5-1184-4d4c-ab42-274a65ac39f5",
              "mediaKey": "1e858f24-6ab9-460e-8795-e631ac90a885",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "89c00daf-3164-449a-a35d-c2f803f8b9bf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "89c00daf-3164-449a-a35d-c2f803f8b9bf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "eb619b77-a323-4c14-b2b4-bbc4b67599d5",
    "mediaKey": "11d48ea9-6b65-4832-93f7-3ef230498df2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>