<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e6c0c75-55d4-4a0f-add6-330e0a85e3f7" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-03T14:49:37</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <conactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </conactPhone>
    <contactAdress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAdress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3675d2aa-659b-410d-a435-5ec0f21b469f",
      "key": "46ff5e7d-b933-4d94-a19d-7e8a0ad06c0c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "3675d2aa-659b-410d-a435-5ec0f21b469f",
      "key": "d4fed803-df62-4333-bd37-510d868b4596",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.Linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "46ff5e7d-b933-4d94-a19d-7e8a0ad06c0c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d4fed803-df62-4333-bd37-510d868b4596",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "46ff5e7d-b933-4d94-a19d-7e8a0ad06c0c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d4fed803-df62-4333-bd37-510d868b4596",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "058d9d41-92c2-4a22-a025-52a5fe6ea6ad",
    "mediaKey": "0f81d89e-7b18-4434-8a3e-1bfd572b784e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>