<?xml version="1.0" encoding="utf-8"?>
<Content Key="21860cc0-8ced-4ec4-8272-ae541f2aae04" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="6b90cc12-7347-45e5-b46d-810dd6444570">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-10T13:48:06</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="577f7a0d-0383-481f-919e-0ea955615805">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4684e5b3-9a86-4e45-87ad-d378960b7692",
      "key": "6d465ca9-a8d9-4982-b081-4fb70960a45e",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a26ffa0e-f40f-411e-9c6a-b65617da7e1f",
              "mediaKey": "1e858f24-6ab9-460e-8795-e631ac90a885",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6d465ca9-a8d9-4982-b081-4fb70960a45e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6d465ca9-a8d9-4982-b081-4fb70960a45e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "c0f2c537-cd7f-46b0-8619-1e7f29a6760a",
    "mediaKey": "99ce4364-63e2-4654-b14b-a0f6a0e1aecd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>