<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aae96c6f-e0eb-4583-af41-9f81ce9e9153" Alias="forumlar1" Level="1">
  <Info>
    <Name>forumlar1</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c6d13e4a-7fad-403c-8c31-7e73e2ab7c2e"
    }
  ]
}]]></Config>
</DataType>