<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b39dd4e-9c04-4310-afb0-19fe5d804c0f" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3352fd42-4e48-4892-9ddd-b2e012af6b82"
    },
    {
      "contentElementTypeKey": "6cb4e3c1-8a2e-40db-9013-758ca7d0ea27",
      "settingsElementTypeKey": "dedfb26c-02d9-46f7-980e-0b8e141685a2"
    },
    {
      "contentElementTypeKey": "9316218b-27dd-443e-bce4-815f43ffbea4"
    }
  ]
}]]></Config>
</DataType>