<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0172882-8631-424f-be3b-ae054be4f548" Alias="Section - forumlar " Level="1">
  <Info>
    <Name>Section - forumlar </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>