<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de06c755-7d82-487b-b4f9-2ea393ad3ab6" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4684e5b3-9a86-4e45-87ad-d378960b7692"
    }
  ]
}]]></Config>
</DataType>