<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f44d626c-adab-4659-b116-adad21811986" Alias="SiteSettings - Platform List " Level="1">
  <Info>
    <Name>SiteSettings - Platform List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3675d2aa-659b-410d-a435-5ec0f21b469f",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>