<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a285c218-7797-4719-ab3a-a7acdef7010f" Alias="Team Member-List" Level="1">
  <Info>
    <Name>Team Member-List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ef558c67-621b-460c-93c4-f4b57d786766",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>