<?xml version="1.0" encoding="utf-8"?>
<DataType Key="527fc15d-b1db-42bf-b3df-d8f8e2711860" Alias="Team Member List " Level="1">
  <Info>
    <Name>Team Member List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ef558c67-621b-460c-93c4-f4b57d786766"
    }
  ]
}]]></Config>
</DataType>