<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0f27df1e-3bd7-4534-82c0-82fd8a66394f" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-text</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f201982b-99a5-4fbc-8adc-a67708c4dfec">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cf925667-6d58-45fa-90fa-92535df164bb" SortOrder="0">contactPage</ContentType>
    <ContentType Key="e6354e0b-449b-45bb-89ab-1d2c6e7a0291" SortOrder="1">servicePage</ContentType>
    <ContentType Key="550152f6-9e8a-4806-961a-b620605c5e3c" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>72e43b74-c761-41d6-a9c5-a9e00dbc2e07</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>0b39dd4e-9c04-4310-afb0-19fe5d804c0f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3c98f525-36c0-4005-a696-fdb028ad7f75</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>